html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "BebasNeueBold", sans-serif;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 768px;
}

.header_logo {
  padding-top: 41px;
  padding-bottom: 303px;
  text-align: center;
}


.header_h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.header_p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.05px;
  padding-bottom: 224px;
}

.header_end {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 71px;
}

/* navbar */
.navbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 250px;
  border: 1px solid #e6e6e6;
}

.navbar_items ul {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

ul {
  list-style: none;
}

.navbar_items ul li {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #48555b;
  text-transform: uppercase;
}

.navbar_items ul li:hover {
  color: #00a4e5;
  cursor: pointer;
}

/* Our story */


.story_title_2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
  text-transform: uppercase;
  padding: 50px 0;
}

/* Линия под заголовком */
.story_title_2:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin: 0 auto;
  margin: 13px auto 0;
}

.story_inner {
  display: flex;
  margin-left: 250px;
}

.story_title_3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 29px;
  color: #48555b;
  margin-bottom: 30px;
}

.accent-color {
  color: #00a4e5;
}

.story_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.story_right {
  display: flex;
  align-items: flex-end;
}

.story_item {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #fff;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  padding: 15px;
  margin-right: 20px;
}

.button:hover,
.story_item:hover {
  box-shadow: 0px 5px 15px 0px rgba(4, 90, 130, 0.8);
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.story_item:nth-child(1) {
  background-image: url(../img/Bitmap.png);
  margin-left: 91px;
}

.story_item:nth-child(2) {
  background-image: url(../img/Bitmap\ \(1\).png);
}

.story_item:nth-child(3) {
  background-image: url(../img/Bitmap\ \(2\).png);
  margin-right: 0;
}

/* All services */

.services_flex {
  display: flex;
  justify-content: space-between;
  margin: 121px 250px 66px 250px;
}

.services_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
  text-transform: uppercase;
  margin-right: 124px;
}

.services_title:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
  display: block;
  margin-top: 12px;
}

.services_p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 333px;
  letter-spacing: 0.05em;
  color: #48555b;
  margin-right: 32px;
}

.button {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  border: none;
}

.button a {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.services_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin: 0 250px;
  margin-bottom: 115px;
}

.services_cards {
  border: 1px solid #e6e6e6;
  padding: 39px 14px 37px 20px;
  /* align-items: center; */
}

.services_h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-top: 25px;
  margin-bottom: 13px;
}

.services_p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

/* get-in-touch */
.get-in-touch {
  text-align: center;
}

.get-in-toch_bgc {
  padding-bottom: 231px;
}

.get-in-touch_h3 {
  width: 350px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #48555b;
  padding-top: 111px;
  padding-bottom: 35px;
  margin: 0 auto;
}

/* newsletter */

.newsletter_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 375px;
  padding: 30px 0;
  align-content: center;
}

.newsletter_h4 {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
}

.newsletter__input {
  width: 250px;
  height: 40px;
  background-color: #fff;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #48555b;
  border: none;
  margin-right: -3px;
}

/* Контакты */

.contacts_flex {
  display: flex;
  margin-left: 250px;
  padding-top: 42px;
  padding-bottom: 50px;
}

.contacts_company {
  margin-right: 71px;
  width: 250px;
}

.contacts_h5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts_logo {
  margin-bottom: 15px;
}

.contacts_p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
  color: #fff;
}

.contacts_links {
  margin-right: 50px;
}

.contacts_links-flex {
  display: flex;
  gap: 32px;
}


.contacts_us {
  margin-right: 43px;
}

.contacts_ul li a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 23px;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts_ul li a:hover {
  color: #00a4e5;
}

.contacts_map {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.08em;
  color: #fff;
  margin-bottom: 12px;
}

.contacts_tel a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.08em;
  color: #fff;
  text-decoration: none;
}

.contacts_map:hover,
.contacts_tel:hover,
.contacts_mail:hover {
  color: #00a4e5;
  cursor: pointer;
}

.contacts_mail a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.08em;
  color: #fff;
  text-decoration: none;
}

.contacts_icon {
  padding-left: 29px;
  padding-top: 28px;
}

.contacts_icon ul {
  display: flex;
  gap: 23px;
}

svg {
  color: white;
}

svg:hover {
  color: #00a4e5;
}

/* footer */
.footer_p {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 23px;
  background: #171819;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #fff;
}